{% extends "::ABReservationZenithBundleABReservationZenithBundle:::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Réservation:ajouter{% endblock %}

{% block body %}
<div class='container'>
	<h3>Welcome to the Réservation:ajouter page</h3>
	formualire valide: {{valid}}
	<form action="{{path('ajouter_reservation')}}" method="post" {{form_enctype(form)}}>
		{{form_widget(form)}}
		<input type="submit" />
	</form>
</div>
{% endblock %}
