{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Réservation:supprimer{% endblock %}

{% block body %}
{{ parent () }}
<h1>Welcome to the Réservation:supprimer page</h1>
{% endblock %}
