{% extends "::base.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:ajouter{% endblock %}

{% block body %}
<h1>Welcome to the Tarif:ajouter page</h1>
<form action="{{path('ajouter_tarif')}}" method="post" {{form_enctype(form)}}>
	{{form_widget(form)}}
	<input type="submit" />
</form>
{% endblock %}
