{% extends "::ABReservationZenithBundleABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Tarif:index{% endblock %}

{% block body %}
<h1>Welcome to the Tarif:index page</h1>
{% endblock %}
