{% extends "::base.html.twig" %}

{% block title %}ABReservationZenithBundle:Tarif:modifier{% endblock %}

{% block body %}
<h1>Welcome to the Tarif:modifier page</h1>
<form action='' method="post" {{form_enctype(form)}}>
	{{form_widget(form)}}
	<input type="submit" />
</form>
{% endblock %}
