{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Tarif:modifier{% endblock %}

{% block body %}
<div class='container'>
	<h3>Welcome to the Tarif:modifier page</h3>
	<form action='' method="post" {{form_enctype(form)}}>
		{{form_widget(form)}}
		<input type="submit" />
	</form>
</div>
{% endblock %}
