{% extends "ABReservationZenithBundle::layout.html.twig" %}
{% block title %}{{'pages.accueil'|trans}}{% endblock %}

{% block body %}
{{ parent() }}
<h3>A propos</h3>

<div class='container'>

	<h4>Qu'est-ce que le zénith ?</h4>
	<br>
	<p>Le Zénith de Nantes Métropole est une salle de spectacles divers ouverte à un public nombreux.</p>

	<h4>Chez qui suis-je ?</h4>
	<br>
	<p>Le Zénith de Nantes Métropole a été inauguré en Décembre 2006 et a accueilli, depuis son ouverture, 1,2 million de spectateurs.</p>

	<h4>Dans quel état j’erre Que me propose-t-on ?</h4>
	<h4>Sous quelles conditions ?</h4>
	<h4>Qu’est-ce qui pourrait m’amener à revenir ?</h4>
	<h4>L’information est-elle à jour ?</h4>
	<h4>Puis-je contacter les propriétaires du site ?</h4>
	<h4>Suis-je arrivé à tout lire sans m’endormir ?</h4>

</div>
{% endblock %}