<<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Page Admin</h1>
{% if is_granted('ROLE_ADMIN') %}
<ul>
	<li><a href="{{path('index_spectacle')}}">Accéder à la gestion des spectacles</a>
	<li><a href="{{path('index_reservation')}}">Accéder à la gestion des réservations</a>
{%if is_granted('ROLE_SUPER_ADMIN') %}
	<li><a href="">Accéder à la gestion des utilisateurs</a>
{% endif %}
</ul>
{% endif %}
</body>
</html>