<<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Page User</h1>
<ul>
	<li><a href="{{path('voir_spectacle')}}">Voir la liste des spectacle</a>
	<li><a href="{{path('index_reservation')}}">Gérer mes réservations</a>
</ul>
</body>
</html>