{% extends "ABReservationZenithBundle::layout.html.twig" %}
{% block title %}{{'pages.accueilzenith'|trans}}{% endblock %}

{% block body %}
{{ parent () }}
<h1>{{'pages.accueilzenith'|trans}}</h1>

{% endblock %}