{% extends "::base.html.twig" %}

{% block title %}ABReservationZenithBundle:Spectacle:modifier{% endblock %}

{% block body %}
<h1>Welcome to the Spectacle:modifier page</h1>
<form action='' method="post" {{form_enctype(form)}}>
	{{form_widget(form)}}
	<input type="submit" />
</form>
{% endblock %}
