{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:supprimer{% endblock %}

{% block body %}
	<h3>Supprimer un spectacle</h3>
{% endblock %}
