{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:ajouter{% endblock %}

{% block body %}
<div class='container'>
	<h3>Welcome to the Seance:ajouter page</h3>
	<form action="{{path('ajouter_seance')}}" method="post" {{form_enctype(form)}}>
		{{form_widget(form)}}
		<input type="submit" />
	</form>
</div>
{% endblock %}
