{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:ajouter{% endblock %}

{% block body %}
<div class='well'>
	<h3>Ajouter une séance</h3>
	<br>
	<form action="{{path('ajouter_seance')}}" method="post" {{form_enctype(form)}}>
		{{form_widget(form)}}
		<br>
		<input type="submit" class='btn btn-primary' />
	</form>
</div>
{% endblock %}
