{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:index{% endblock %}

{% block body %}
<div class='well'>
	<h3>Index des séances</h3>
</div>
{% endblock %}
