{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:modifier{% endblock %}

{% block body %}
<div class='well'>
	<h3>Modifier une séance</h3>
	<br>
	<form action='' method="post" {{form_enctype(form)}}>
		{{form_widget(form)}}
		<br>
		<input type="submit" class='btn btn-primary'/>
	</form>
</div>
{% endblock %}
