{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:supprimer{% endblock %}

{% block body %}
<div class='well'>
	<h3>^Supprimer une séance</h3>
</div>
{% endblock %}
