{% extends "ABReservationZenithBundle::layout.html.twig" %}

{% block title %}ABReservationZenithBundle:Seance:supprimer{% endblock %}

{% block body %}
<h1>Welcome to the Seance:supprimer page</h1>
{% endblock %}
